$color-secondary: #B56847;
$color-primary-dark: #1A374D;
$color-primary: #406882;
$color-primary-light: #6998AB;

$color-back-light: #B1D0E0;
$color-back: #fff;
$color-back-dark: #1A374D;

$white: #fff;
$black: #000;

$font-title: "Open Sans", sans-serif;
$font-body: "Open Sans", sans-serif;

$max-width: 768px;

$section-margin: 40px 100px 0;
$section-margin-mobile: 60px;

// navbar

$nav-button-margin-left: 20px;
$nav-button-text-size: 1.2em;

$nav-margin-bottom: 5px;
$nav-margin-bottom-mobile: 60px;

// Header

$title-font-size: 90px;
$subtitle-font-size: 30px;
$title-margin-bottom: 20px;