$color-secondary: #B56847;
$color-primary-dark: #1A374D;
$color-primary: #406882;
$color-primary-light: #6998AB;

$color-back-light: #bed4dff5;
$color-back: #fff;
$color-back-dark: #1A374D;

$color-white: #fff;
$color-black: #000;

$font-title: "Open Sans", sans-serif;
$font-body: "Open Sans", sans-serif;
$font-buttons: "Open Sans", sans-serif;
$font-subtitle: "Open Sans", sans-serif;
$font-type: "monospace";

$max-width: 768px;

$section-padding: 40px 100px 0;
$section-padding-mobile: 30px 30px 0;

// navbar

$nav-button-margin-left: 20px;
$nav-button-text-size: 1.2em;

$nav-margin-bottom: 5px;
$nav-margin-bottom-mobile: 10px;

// Header

$title-font-size: 5.5rem;
$title-font-size-mobile: 3rem;
$subtitle-font-size: 2rem;
$subtitle-font-size-mobile: 1.5rem;
$title-margin-bottom: 20px;

$type-demo-font-size: 3em;
$type-demo-font-size-mobile: 1.5em;

// Skills

$card-padding: 40px 40px 20px;
$card-padding-mobile: 15px 10px 0;
$card-title-font-size: 1.5em;
$card-title-font-size-mobile: 1.2em;
$card-text-font-size: 1.2em;
$card-text-font-size-mobile: 1em;
$card-subtitle-font-size: 1.2em;
$card-subtitle-font-size-mobile: 1em;