@import '@styles/vars';

.ComingSoon {
    position: absolute;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 2em;
    font-family: $font-type;
    color: $color-primary;
    z-index: -1;
    
    .typedemo {
        animation: blink 0.5s step-end infinite alternate;
        border-right: 3px solid;
    }
}

@media (max-width: $max-width) {
    .ComingSoon {
        font-size: 1.2em;
    }
}