@import 'vars';

.HeaderLogo {
    position: relative;
    height: 50px;
    width: auto;
    img {
        position: absolute;
        height: 50px;
    }
    img:last-child {
        transition: 0.4s;
        &:hover {
            opacity: 0;
        }
    }
}