@import "@styles/vars";

.TypingJobs {
  display: flex;
  justify-content: center;
  font-size: $type-demo-font-size;
  font-family: $font-type;
  background-color: $color-back-dark;
  color: $color-primary-light;

  .typingjobs-typedemo {
    animation: blink 0.5s step-end infinite alternate;
    border-right: 3px solid;
  }

  p {
    margin: 0 0 40px;
  }

}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: $max-width) {
  .TypingJobs {
    font-size: $type-demo-font-size-mobile;
  }
}
