@import '@styles/vars';

.NavbarButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.NavbarButtons{
    li {
        margin-left: $nav-button-margin-left;
    }
}

.NavbarButtons {
    li {
        a {
            color: $color-primary-dark;
            text-decoration: none;
            font-size: $nav-button-text-size;
            font-family: $font-buttons;
            transition: 0.4s;
            border-radius: 30px;
            padding: 10px 20px;
            border: 1px solid $color-back;
            &:hover {
                color: $color-primary-light;
                border: 1px solid $color-primary-light;
            }
        }
    }

    li:last-child {
        a {
            border: 2px solid $color-primary;
            color: $color-primary;
            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }
        
    }
}

@media (max-width: $max-width) {
    .NavbarButtons {
        display: none;
    }
}