@import '@styles/vars';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $section-margin;
}

@media (max-width: $max-width) {
    nav {
        margin-bottom: $nav-margin-bottom-mobile;
    }
}