@import '@styles/vars';

.Card {
    position: relative;
    width: 21rem;
    height: 18rem;

    .Card__image, .Card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
        display: grid;
        place-content: center;
        justify-items: center;
        border-radius: 15px;
        text-align: center;
        padding: 8% 10%;
        box-shadow: $box-shadow-dark;
    }

    .Card__image {
        transition: 0.7s;
        img {
            transition: 0.7s;
            width: 60%;
            opacity: 0.85;
        }
    }

    .Card__content {
        z-index: 2;
        color: $color-white;
        background-color: $color-back-dark;
        opacity: 0;
        transition: 0.7s;

        .Card__description {
            font-size: $font-size-body;
            font-family: $font-body;
            margin-top: 0;
        }
    }

    &:hover {
        img {
            transform: scale(1.5);
        }
        .Card__image {
            opacity: 0;
        }
        .Card__content {
            opacity: 1;
        }
    }
}

@media (max-width: $max-width) {
    .Card {
        width: 19rem;
        height: 19rem;
        margin: 5px;


        .Card__description {
            font-size: $font-size-body-mobile;
        }

        .Card__link {
            font-size: $font-size-body-mobile;
        }
    }
}