@import '@styles/vars';

.RecentWork {
    padding: $section-padding;
    text-align: center;

    h2 {
        font-size: $font-size-subtitle;
        font-family: $font-subtitle;
        margin-top: 3rem;
    }

    p {
        font-size: $font-size-body;
        font-family: $font-body;
        margin-bottom: 2rem;
    }

    hr {
        width: 100%;
        border: 1px solid $color-primary-dark;
        margin: 3rem auto;
        opacity: 0.1;
    }
}


@media (max-width: $max-width) {
    .RecentWork {
        padding: $section-padding-mobile;

        h2 {
            font-size: $font-size-subtitle-mobile;
        }

        p {
            font-size: $font-size-body-mobile;
        }
    }
}