@import '@styles/vars';

.HeaderTitle {
    .title {
        font-size: $title-font-size;
        color: $color-primary-dark;
        margin: 0;
        margin-bottom: $title-margin-bottom;
    }

    .subtitle {
        font-size: $subtitle-font-size;
        color: $color-primary;
    }
}

@media (max-width: $max-width) {
    .HeaderTitle {
        text-align: center;
        .title {
            font-size: $title-font-size-mobile;
        }
        .subtitle {
            font-size: $subtitle-font-size-mobile;
        }
    }
}

