@import "@styles/vars";

.Header {
  
  .header-top {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    position: relative;
    padding: $section-padding;
  }

  .header-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }
}

@media (max-width: $max-width) {
  .Header {
    .header-top {
      padding: $section-padding-mobile;
      grid-template-columns: 1fr;
    }

    .header-background {
      display: none;
    }
  }
}
